{% extends "base.html" %}

{% block content %}
<div id="login">
  <h1 class="section-title">{{_('Change Password')}}</h1>
  <form id="change-password" method="POST">
    <div class="control-group">
      <input id="password" type="password" name="password" class="required" autofocus="true" placeholder="{{_('password')}}" />
    </div>
    <div class="control-group">
      <input id="password-confirm" type="password" name="password_confirm" class="required" placeholder="{{_('password (confirm)')}}" />
    </div>
    <div class="controls">
      <a id="btn-submit" href="#" class="btn btn-large btn-primary">{{_('Update')}}</a>
      <a href="{{url_for('index')}}" class="btn btn-large btn-secondary">{{_('Cancel')}}</a>
    </div>
  </form>
</div>
<script type="text/javascript">
  var checkInterval;

  function checkStatus(url){
    var data = $.getJSON(url, function(data){
      if (data.status == "finished") {
        if (data.result.status) {
          flash("{{_('Password Updated')}}");
          $("div#status").text('');
          for (var o in data.result) {
            $("div#status").append("<p>" + o + ": " + data.result[o] + "</p>");
          }
          //setTimeout(function() { navigate("/"); }, 5000);
        } else {
          flash("{{_('Error updating password: ')}}");
        }
        clearInterval(checkInterval);
      }
    });
  }
  $("a#btn-submit").click(function(){
    $("input#password").attr('readonly', true);
    $("input#password-confirm").attr('readonly', true);
    var form = $("form#change-password");
    if (form.valid()) {
      $("div#login").html("<div class='lead'>{{_('Updating...')}}</div><div id='status' width='50%'><img width='64' height='64' src='/static/img/loading.gif'/></div>");
      flash("{{_('Updating passwords.  This may take a minute.  Please wait.')}}");
      $.post("{{url_for('accounts.change_password')}}", form.serialize(), function(data) {
        checkInterval = setInterval(function() { checkStatus(data.task_uri); }, 1000);
        return false;
      });
    }
  });
  $(function(){
    $("form#change-password").validate();
  });
</script>
{% endblock %}
